<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper #ffffff white">
    <a href="#!" class="brand-logo marginlogo">
      <img class="navbar-img responsive-img" src="assets/images/logo.png" />
      <img class="navbar-img responsive-img" src="assets/images/logo1.png" />
    </a>
    <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"><span class="black-text">menu</span></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!"><span class="black-text">Buy Tickets</span></a></li>
      <li><a href="#!"><span class="black-text">Customer Support</span></a></li>
      <li><a href="#!"><span class="black-text">About us</span></a></li>
      <li>
        <a href="#!">
          <i class="black-text material-icons md-24">more_vert</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row" style="margin-top:1%">

    <form class="col s8 offset-s2 card">
      <div class="row col s12">
        <img class="responsive-img" src="assets/images/event.png" />
      </div>
      <div class="row col s12" style="text-align:center">
        <h5 class="grey-text"><b>Live Event Starts in</b></h5>
        <h5 class="red-text"><b>02 min 45 secs</b></h5>
      </div>
      <div class="row col s12">
        <div class="input-field col s8 offset-s2">
          <input placeholder="Your Email ID" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row col s12">
        <div class="input-field col s8 offset-s2">
          <input placeholder="Your Mobile Number" id="mobile" type="tel" class="validate">
          <label for="mobile">Mobile Number</label>
        </div>
      </div>
      <div class="row col s12">
        <div class="input-field col s8 offset-s2">
          <input placeholder="Secret Code" id="password" type="password" class="validate">
          <label for="password">Secret Code</label>
        </div>
      </div>
      <div class="row col s12">
        <div class="input-field col s8 offset-s2">
          <input placeholder="Secret Code" id="password" type="password" class="validate">
          <label for="password">Secret Code</label>
        </div>
      </div>
      <div class="row col s12">
        <div class="input-field col s8 offset-s2">
          <img class="navbar-img responsive-img" src="assets/images/logo.png" />
          <a class="waves-effect waves-light btn red">Sign-in and Watch Live!</a>
        </div>
      </div>
    </form>

  </div>
</div>