<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper #ffffff white">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"><span class="black-text">menu</span></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!"><span class="black-text">Buy Tickets</span></a></li>
      <li><a href="#!"><span class="black-text">Customer Support</span></a></li>
      <li><a href="#!"><span class="black-text">About us</span></a></li>
      <li>
        <a href="#!">
          <i class="black-text material-icons md-24">more_vert</i>
        </a>
      </li>
    </ul>
  </div>
</nav>